<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--================ Start Header Menu Area =================-->
<header th:fragment="menu" class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">

      <div class="container">
        <a class="navbar-brand logo_h" th:href="@{/home}"><img src="/img/logo.png"
                                                               alt="Buy blue. Feel empty. Enjoy the silence."></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true"
                 aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" th:href="@{/category}">Product Category</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/viewProduct}">Product Details</a></li>
                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
              </ul>
            </li>

            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true"
                 aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
          </ul>

          <ul class="nav-shop">
            <li class="nav-item"><button><i class="ti-search"></i></button></li>
            <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
            <li class="nav-item"><a class="button button-header" href="/cart">Buy Now</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================ End Header Menu Area =================-->

<!--&lt;!&ndash;================ Start Header Menu Area =================&ndash;&gt;-->
<!--<header th:fragment="header" class="header_area">-->
<!--  <div class="main_menu">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->
<!--      <div class="container">-->
<!--        <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">-->
<!--          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">-->
<!--            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>-->
<!--            <li class="nav-item submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
<!--                 aria-expanded="false">Shop</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="single-product.html">Blog Details</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
<!--                 aria-expanded="false">Blog</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item active submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
<!--                 aria-expanded="false">Pages</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="addUser.html">Register</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
<!--          </ul>-->

<!--          <ul class="nav-shop">-->
<!--            <li class="nav-item"><button><i class="ti-search"></i></button></li>-->
<!--            <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>-->
<!--            <li class="nav-item"><a class="button button-header" href="/cart">Buy Now</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->
<!--&lt;!&ndash;================ End Header Menu Area =================&ndash;&gt;-->
</body>
</html>