<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Poster</title>
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--&lt;!&ndash;================ Start Header Menu Area =================&ndash;&gt;-->
<!--<header class="header_area">-->
<!--    <div class="main_menu">-->
<!--        <nav class="navbar navbar-expand-lg navbar-light">-->

<!--            <div class="container">-->
<!--                <a class="navbar-brand logo_h" th:href="@{/home}"><img src="/img/logo.png"-->
<!--                                                                         alt="Buy blue. Feel empty. Enjoy the silence."></a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                        data-target="#navbarSupportedContent"-->
<!--                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">-->
<!--                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">-->
<!--                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>-->
<!--                        <li class="nav-item submenu dropdown">-->
<!--                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-haspopup="true"-->
<!--                               aria-expanded="false">Shop</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/category}">Product Category</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/viewProduct}">Product Details</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->

<!--                        <li class="nav-item submenu dropdown">-->
<!--                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-haspopup="true"-->
<!--                               aria-expanded="false">Pages</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>-->
<!--                    </ul>-->

<!--                    <ul class="nav-shop">-->
<!--                        <li class="nav-item">-->
<!--                            <button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
<!--&lt;!&ndash;================ End Header Menu Area =================&ndash;&gt;-->


<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="login_form_inner register_form_inner">
                    <h3>Add a product</h3>
                    <form th:object="${productDto}" class="row login_form" action="/addProduct" id="register_form"
                          method="post" enctype="multipart/form-data">
                        <div class="col-md-12 form-group">
                            <input th:field="*{name}" type="text" class="form-control" id="name" name="name"
                                   placeholder="Product name" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Product name'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{category}" type="text" class="form-control" id="category" name="category"
                                   placeholder="Category" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Category'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{price}" type="number" class="form-control" id="price" name="price"
                                   placeholder="Price" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Price'">
                            <p th:each="error : ${#fields.errors('price')}" th:text="${error}"></p>
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{description}" type="text" class="form-control" id="description"
                                   name="description" placeholder="Description"
                                   onfocus="this.placeholder = 'Description'" onblur="this.placeholder = 'Description'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{quantity}" type="text" class="form-control" id="quantity"
                                   name="quantity" placeholder="Quantity"
                                   onfocus="this.placeholder = 'Quantity'" onblur="this.placeholder = 'Quantity'">
                        </div>

                        <div class="col-md-12 form-group">
                            <input type="file" class="form-control" id="productImage" name="productImage">
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">Add Product
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


</body>
</html>