<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--&lt;!&ndash;================ Start Header Menu Area =================&ndash;&gt;-->
<!--<header class="header_area">-->
<!--  <div class="main_menu">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->

<!--      <div class="container">-->
<!--        <a class="navbar-brand logo_h" th:href="@{/home}"><img src="/img/logo.png"-->
<!--                                                                 alt="Buy blue. Feel empty. Enjoy the silence."></a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">-->
<!--          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">-->
<!--            <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>-->
<!--            <li class="nav-item submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                 aria-haspopup="true"-->
<!--                 aria-expanded="false">Shop</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/category}">Product Category</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/viewProduct}">Product Details</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->

<!--            <li class="nav-item submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                 aria-haspopup="true"-->
<!--                 aria-expanded="false">Pages</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>-->
<!--          </ul>-->

<!--          <ul class="nav-shop">-->
<!--            <li class="nav-item">-->
<!--              <button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>-->
<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->
<!--&lt;!&ndash;================ End Header Menu Area =================&ndash;&gt;-->

<main class="site-main">

<!-- ================ contact section start ================= -->
<section class="section-margin--small">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-lg-12 mb-4 mb-md-0">
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-home"></i></span>
          <div class="media-body">
            <h3>Bucharest Little Mumbay</h3>
            <p>Fuge Boulevard 800</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-headphone"></i></span>
          <div class="media-body">
            <h3><a href="tel:454545654">00 (40) 726 00 77 04</a></h3>
            <p>Mon to Fri 9am to 6pm</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-email"></i></span>
          <div class="media-body">
            <h3><a href="mailto:cristianlupu@yahoo.com">cristianlupu@yahoo.com</a></h3>
            <p>Send us your query anytime!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->
</body>
</html>