<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blue Oasis</title>
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>

<!--&lt;!&ndash;================ Start Header Menu Area =================&ndash;&gt;-->
<!--<header class="header_area">-->
<!--    <div class="main_menu">-->
<!--        <nav class="navbar navbar-expand-lg navbar-light">-->

<!--            <div class="container">-->
<!--                <a class="navbar-brand logo_h" th:href="@{/home}"><img src="img/logo.png"-->
<!--                                                                       alt="Blue Oasis. Enjoy the Silence."></a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                        data-target="#navbarSupportedContent"-->
<!--                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">-->
<!--                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">-->
<!--                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>-->
<!--                        <li class="nav-item submenu dropdown">-->
<!--                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-haspopup="true"-->
<!--                               aria-expanded="false">Shop</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/category}">Poster Category</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/viewProduct}">Poster Details</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->

<!--                        <li class="nav-item submenu dropdown">-->
<!--                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-haspopup="true"-->
<!--                               aria-expanded="false">Pages</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>-->
<!--                    </ul>-->

<!--                    <ul class="nav-shop">-->
<!--                        <li class="nav-item">-->
<!--                            <button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
<!--&lt;!&ndash;================ End Header Menu Area =================&ndash;&gt;-->

<main class="site-main">

    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Choose the most inspiring posters for your spirit!</p>
                <h2>Trending <span class="section-intro__style">Posters</span></h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3" th:each="productDto:${productDtoList}">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" th:src="${'data:image/png; base64, '+productDto.image}" alt=""
                                 th:href="@{/product/{x}(x=${productDto.id})}">
                            <ul class="card-product__imgOverlay">
                                <li>
                                    <button><i class="ti-search"></i></button>
                                </li>
                                <li>
                                    <button><i class="ti-shopping-cart"></i></button>
                                </li>
                                <li>
                                    <button><i class="ti-heart"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p th:text="${productDto.category}"></p>
                            <h4 class="card-product__title"><a th:text="${productDto.name}"
                                                               th:href="@{/product/{x}(x=${productDto.id})}"></a></h4>
                            <p th:text="'$'+${productDto.price}" class="card-product__price"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ trending product section end ================= -->
</main>
</body>
</html>