<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Blue Oasis</title>
  <link rel="icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--&lt;!&ndash;================ Start Header Menu Area =================&ndash;&gt;-->
<!--<header class="header_area">-->
<!--  <div class="main_menu">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->

<!--      <div class="container">-->
<!--        <a class="navbar-brand logo_h" th:href="@{/home}"><img src="/img/logo.png"-->
<!--                                                               alt="Buy blue. Feel empty. Enjoy the silence."></a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">-->
<!--          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">-->
<!--            <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>-->
<!--            <li class="nav-item submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                 aria-haspopup="true"-->
<!--                 aria-expanded="false">Shop</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/category}">Product Category</a>-->
<!--                </li>-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/viewProduct}">Product Details</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->

<!--            <li class="nav-item submenu dropdown">-->
<!--              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                 aria-haspopup="true"-->
<!--                 aria-expanded="false">Pages</a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>-->
<!--          </ul>-->

<!--          <ul class="nav-shop">-->
<!--            <li class="nav-item">-->
<!--              <button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>-->
<!--            </li>-->

<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->
<!--&lt;!&ndash;================ End Header Menu Area =================&ndash;&gt;-->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <div class="hover">
            <h4>Just arrived to Blue Oasis?</h4>
            <p>Please create an account and immerse into your private Blue Oasis!</p>
            <a class="button button-account" href="addUser.html">Create an Account</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h3>Log in to enter</h3>
          <form class="row login_form" action="/login" id="contactForm" method="post">
            <div class="col-md-12 form-group">
              <input type="email" class="form-control" id="email" name="username" placeholder="Email" onfocus="this.placeholder = 'Email'" onblur="this.placeholder = 'Username'">
            </div>
            <div class="col-md-12 form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <input type="checkbox" id="f-option2" name="selector">
                <label for="f-option2">Keep me logged in</label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="button button-login w-100">Log In</button>
              <a href="#">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Login Box Area =================-->
</body>
</html>