<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Poster</title>
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div th:insert="fragments/menu :: menu"></div>
<!--&lt;!&ndash;================ Start Header Menu Area =================&ndash;&gt;-->
<!--<header class="header_area">-->
<!--    <div class="main_menu">-->
<!--        <nav class="navbar navbar-expand-lg navbar-light">-->

<!--            <div class="container">-->
<!--                <a class="navbar-brand logo_h" th:href="@{/home}"><img src="/img/logo.png"-->
<!--                                                                       alt="Buy blue. Feel empty. Enjoy the silence."></a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                        data-target="#navbarSupportedContent"-->
<!--                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">-->
<!--                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">-->
<!--                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>-->
<!--                        <li class="nav-item submenu dropdown">-->
<!--                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-haspopup="true"-->
<!--                               aria-expanded="false">Shop</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/category}">Product Category</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/viewProduct}">Product Details</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->

<!--                        <li class="nav-item submenu dropdown">-->
<!--                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-haspopup="true"-->
<!--                               aria-expanded="false">Pages</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>-->
<!--                    </ul>-->

<!--                    <ul class="nav-shop">-->
<!--                        <li class="nav-item">-->
<!--                            <button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->
<!--&lt;!&ndash;================ End Header Menu Area =================&ndash;&gt;-->



    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div th:object="${projectDto}" class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="card-product__img">
                        <img class="card-img" th:src="${'data:image/png; base64, '+productDto.image}" alt="">
                        <ul class="card-product__imgOverlay">
                            <li>
                                <button><i class="ti-search"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-shopping-cart"></i></button>
                            </li>
                            <li>
                                <button><i class="ti-heart"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3 th:text="${productDto.name}"></h3>
                        <h2 th:text="${'$'+productDto.price}"></h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> :
                                <span th:text="${productDto.category}"></span></a>
                            </li>
                            <li><a href="#"><span>Availability</span> :
                                <span th:text="${productDto.quantity}"></span></a>
                            </li>
                        </ul>
                        <p th:text="${productDto.description}"></p>

                        <div class="product_count">
                            <form th:object="${chosenProductDto}" th:action="@{/product/{productId}(productId=${productDto.id})}" method="post">
                                <label for="qty">Quantity:</label>
                                <input th:field="*{quantity}" type="number" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                <button class="btn btn-primary" type="submit"> Add to cart </button>
                            </form>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
</body>
</html>